Please provide all answers in Japanese

{{ include "chezmoi_ignores/ai-agent/ai_system_prompt.md" }}

## TypeScript

{{ include "chezmoi_ignores/ai-agent/rules/typescript.md" }}

## React/Next

{{ include "chezmoi_ignores/ai-agent/rules/react.md" }}

## Vue/Nuxt

{{ include "chezmoi_ignores/ai-agent/rules/vue.md" }}

## CSS

{{ include "chezmoi_ignores/ai-agent/rules/css.md" }}
