model = "gpt-5.2-codex"
model_reasoning_effort = "medium"
cli_auth_credentials_store = "auto"
notify = ["bash", "-lc", "afplay /System/Library/Sounds/Bottle.aiff"]

[notice]
"hide_gpt-5.1-codex-max_migration_prompt" = true

[features]
web_search_request = true
skills = true

{{ include "chezmoi_ignores/private/codex_projects.toml" }}
