model = "gpt-5.3-codex"
model_reasoning_effort = "medium"
cli_auth_credentials_store = "auto"
notify = ["terminal-notifier", "-title", "🤖 Codex", "-message", "処理が完了しました", "-group", "codex-completion"]

[notice]
"hide_gpt-5.1-codex-max_migration_prompt" = true

[features]
skills = true

{{ include "chezmoi_ignores/private/codex_projects.toml" }}
