tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/services"
brew "act"
brew "bat"
brew "emojify"
brew "fd"
brew "fnm"
brew "fzf"
brew "gh"
brew "ghq"
brew "gibo"
brew "git"
brew "glow"
brew "hyperfine"
brew "jq"
brew "less"
brew "lsd"
brew "pgcli"
brew "ripgrep"
brew "sheldon"
brew "shellcheck"
brew "tig"
brew "tmux"
brew "tree"
brew "vim"
brew "xdg-ninja"
cask "alacritty"
cask "aquaskk"
cask "bitwarden"
cask "docker"
cask "figma"
cask "firefox"
cask "font-anek-latin"
cask "font-biz-udgothic"
cask "font-cica"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-gidole"
cask "font-hack"
cask "font-hackgen"
cask "font-hackgen-nerd"
cask "font-lato"
cask "font-plemol-jp"
cask "font-plemol-jp-nf"
cask "font-rounded-mplus"
cask "font-udev-gothic"
cask "google-chrome"
cask "keka"
cask "kekaexternalhelper"
cask "notion"
cask "raycast"
cask "slack"
cask "visual-studio-code"
cask "zoom"
{{if (eq .chezmoi.username "ayuzaka")}}
tap "dart-lang/dart"
tap "leoafarias/fvm"
brew "openssl@1.1"
brew "dart-lang/dart/dart"
brew "leoafarias/fvm/fvm"
cask "android-studio"
cask "brave-browser"
cask "kindle"
{{end}}
