tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/services"
brew "act"
brew "bat"
brew "chezmoi"
brew "cmake"
brew "libnghttp2"
brew "xz"
brew "curl"
brew "difftastic"
brew "emojify"
brew "fd"
brew "fnm"
brew "fzf"
brew "gh"
brew "ghq"
brew "gibo"
brew "git"
brew "glow"
brew "gnu-time"
brew "hyperfine"
brew "jq"
brew "less"
brew "lsd"
brew "pgcli"
brew "ripgrep"
brew "sheldon"
brew "shellcheck"
brew "telnet"
brew "tig"
brew "tmux"
brew "tree"
brew "vim"
brew "xdg-ninja"
cask "alacritty"
cask "aquaskk"
cask "figma"
cask "firefox"
cask "font-anek-latin"
cask "font-biz-udgothic"
cask "font-cica"
cask "font-commit-mono"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-geist-mono"
cask "font-gidole"
cask "font-hack"
cask "font-hackgen"
cask "font-hackgen-nerd"
cask "font-lato"
cask "font-martian-mono"
cask "font-noto-sans-cjk-jp"
cask "font-plemol-jp"
cask "font-plemol-jp-nf"
cask "font-rounded-mplus"
cask "font-udev-gothic"
cask "google-chrome"
cask "google-cloud-sdk"
cask "keka"
cask "kekaexternalhelper"
cask "microsoft-edge"
cask "notion"
cask "raycast"
cask "slack"
cask "tableplus"
cask "visual-studio-code"
cask "vivaldi"
cask "zoom"
mas "Bitwarden", id: 1352778147
mas "Gifski", id: 1351639930
vscode "arcticicestudio.nord-visual-studio-code"
vscode "bierner.markdown-preview-github-styles"
vscode "biomejs.biome"
vscode "bradlc.vscode-tailwindcss"
vscode "DavidAnson.vscode-markdownlint"
vscode "dbaeumer.vscode-eslint"
vscode "denoland.vscode-deno"
vscode "donjayamanne.githistory"
vscode "dtsvet.vscode-wasm"
vscode "eamodio.gitlens"
vscode "EditorConfig.EditorConfig"
vscode "esbenp.prettier-vscode"
vscode "figma.figma-vscode-extension"
vscode "GitHub.copilot"
vscode "GitHub.copilot-chat"
vscode "github.vscode-github-actions"
vscode "GitHub.vscode-pull-request-github"
vscode "Gruntfuggly.todo-tree"
vscode "jock.svg"
vscode "mikestead.dotenv"
vscode "ms-azuretools.vscode-docker"
vscode "ms-playwright.playwright"
vscode "ms-vscode-remote.remote-wsl"
vscode "ms-vsliveshare.vsliveshare"
vscode "PKief.material-icon-theme"
vscode "Prisma.prisma"
vscode "redhat.vscode-yaml"
vscode "streetsidesoftware.code-spell-checker"
vscode "stylelint.vscode-stylelint"
vscode "svelte.svelte-vscode"
vscode "vscodevim.vim"
vscode "wayou.vscode-todo-highlight"
vscode "wix.vscode-import-cost"
{{if (eq .chezmoi.username "ayuzaka")}}
tap "dart-lang/dart"
brew "dart-lang/dart/dart"
brew "leoafarias/fvm/fvm"
brew "openssl@1.1"
brew "mas"
cask "android-studio"
cask "authy"
cask "brave-browser"
cask "cursor"
cask "kindle"
cask "lark"
mas "Kindle", id: 302584613
mas "LINE", id: 539883307
mas "Numbers", id: 409203825
mas "RunCat", id: 1429033973
{{end}}
