tap "hashicorp/tap"
brew "hashicorp/tap/terraform-ls"
brew "bat"
brew "chezmoi"
brew "cmake"
brew "cosign"
brew "difftastic"
brew "direnv"
brew "ffmpeg"
brew "fzf"
brew "gh"
brew "git"
brew "gitui"
brew "glow"
brew "gnu-time"
brew "hadolint"
brew "imagemagick"
brew "jq"
brew "less"
brew "libsixel"
brew "lsd"
brew "lua-language-server"
brew "neovim"
brew "sqlite"
brew "pgcli"
brew "resvg"
brew "shellcheck"
brew "shfmt"
brew "tenv"
brew "terminal-notifier"
brew "tflint"
brew "tig"
brew "tmux"
brew "tree"
brew "vim"
brew "wabt"
brew "xdg-ninja"
brew "yazi"
brew "zizmor"
brew "mise"
cask "1password"
cask "1password-cli"
cask "claude"
cask "font-anek-latin"
cask "font-biz-udgothic"
cask "font-fira-code-nerd-font"
cask "font-gidole"
cask "font-hackgen-nerd"
cask "font-ibm-plex-sans-jp"
cask "font-kosugi"
cask "font-monaspace"
cask "font-plemol-jp-nf"
cask "font-udev-gothic-nf"
cask "ghostty"
cask "google-chrome"
cask "keka"
cask "kekaexternalhelper"
cask "ngrok"
cask "raycast"
cask "wezterm"
mas "Gifski", id: 1351639930
mas "RunCat", id: 1429033973

{{ if (eq .purpose "work") }}
cask "figma"
cask "slack"
brew "docker"
brew "docker-desktop"
{{ else }}
cask "brave-browser"
cask "keycastr"
cask "spotify"
cask "termius"
tap "steipete/tap"
brew "steipete/tap/gogcli"
tap "tursodatabase/tap"
brew "tursodatabase/tap/turso"
cask "obsidian"
cask "yubico-authenticator"
cask "orbstack"
cask "zen"
mas "Kindle", id: 302584613
{{ end }}
