brew "mise"
cask "1password"
cask "claude"
cask "font-kosugi"
cask "ghostty"
cask "google-chrome"
cask "ngrok"
cask "raycast"
cask "wezterm"
cask "macskk"

{{ if (eq .purpose "work") }}
cask "figma"
cask "slack"
cask "gcloud-cli"
brew "docker-desktop"
{{ else }}
cask "brave-browser"
cask "spotify"
cask "termius"
cask "orbstack"
tap "tursodatabase/tap"
cask "yubico-authenticator"
{{ end }}
