brew "mise"
cask "1password"
cask "claude"
cask "font-kosugi"
cask "ghostty"
cask "google-chrome"
cask "google-chrome@canary"
cask "ngrok"
cask "raycast"
cask "wezterm"
mas "Gifski", id: 1351639930
mas "RunCat", id: 1429033973

{{ if (eq .purpose "work") }}
cask "figma"
cask "slack"
cask "gcloud-cli"
brew "docker-desktop"
{{ else }}
cask "brave-browser"
cask "spotify"
cask "termius"
cask "orbstack"
tap "tursodatabase/tap"
cask "yubico-authenticator"
mas "Kindle", id: 302584613
{{ end }}
