tools.web_search = true
model = "gpt-5-codex"

[mcp_servers.docker]
command = "docker"
args = ["mcp", "gateway", "run"]

[mcp_servers.serena]
command = "uvx"
args = ["--from", "git+https://github.com/oraios/serena", "serena", "start-mcp-server", "--context", "codex"]

{{ include "chezmoi_ignores/private/codex_projects.toml" }}
