model = "gpt-5.2"
model_reasoning_effort = "medium"

[notice]
"hide_gpt-5.1-codex-max_migration_prompt" = true

[features]
web_search_request = true
skills = true

{{ include "chezmoi_ignores/private/codex_projects.toml" }}
