[user]
  email = ayuzaka.f@gmail.com
  name = ayuzaka
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL4WeL6W4XDqEtgkxBE0PYO0w8IfjgaXfiRd8IGOj1A9
{{ if (eq .chezmoi.os "darwin") }}
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else }}
[core]
  sshCommand = ssh.exe
[gpg "ssh"]
  program = "/mnt/c/Users/ayuza/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
{{ end }}

[core]
  excludesfile = ~/.config/git/gitignore_global
[gpg]
  format = ssh
[commit]
  verbose = true
  gpgsign = true
  template = ~/.config/git/gitmessage
[credential "https://github.com"]
  helper =
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !gh auth git-credential
[init]
  defaultBranch = main
[rerere]
  enabled = true
[push]
  useForceIfIncludes = true
[mergetool]
  trustExitCode = true
 [diff]
  tool = difftastic
 [difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
