{{if (eq .chezmoi.os "darwin")}}
[user]
{{if (eq .chezmoi.username "ayuzaka")}}
  email = ayuzaka.f@gmail.com
  name = ayuzaka
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN7Znr/wBN4wlbrZdQygS+ZEj+Q6khfMDiMv3llx+4SH ayuzaka.f@gmail.com
{{else}}
  email = kazuya@melty.co.jp
  name = kazuya
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIECy5CC5LFQkrflFwMBBmR8iehnjdkvPFrfwE4//QxyN kazuya@melty.co.jp
{{end}}
[gpg]
  format = ssh
[commit]
  gpgsign = true
  template = ~/.gitmessage
[credential "https://github.com"]
  helper = 
  helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/opt/homebrew/bin/gh auth git-credential
{{else}}
[user]
  email = ayuzaka.f@gmail.com
  name = ayuzaka
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN7Znr/wBN4wlbrZdQygS+ZEj+Q6khfMDiMv3llx+4SH ayuzaka.f@gmail.com
{{end}}
[init]
  defaultBranch = main
[ghq]
  vcs = git
  root = ~/workspace
[rerere]
  enabled = true
[push]
  useForceIfIncludes = true
[mergetool]
  trustExitCode = true
