{{ if (eq .chezmoi.os "darwin") }}
# Set PATH, MANPATH, etc., for Homebrew.
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}

{{ if (eq .chezmoi.hostname "melty-kazuya") }}
if [[ "$SSH_AUTH_SOCK" != /var/folders* ]]; then
  eval "$(ssh-agent -s)"
  ssh-add --apple-use-keychain ~/.ssh/id_ed25519
fi
{{ end }}
