{{ include "chezmoi_ignores/ai_system_prompt.md" }}

## TypeScript

{{ include "chezmoi_ignores/rules/typescript.md" }}

## React/Next

{{ include "chezmoi_ignores/rules/react.md" }}

## Vue/Nuxt

{{ include "chezmoi_ignores/rules/vue.md" }}

## CSS

{{ include "chezmoi_ignores/rules/css.md" }}
