{
  "general": {
    "preferredEditor": "neovim"
  },
  "security": {
    "auth": {
      "selectedType": "{{ if eq .purpose "work" }}vertex-ai{{ else }}oauth-personal{{ end }}"
    }
  },
  "ui": {
    "theme": "Dracula"
  }
}

