{
  "theme": "Dracula",
  "selectedAuthType": "{{ if eq .purpose "work" }}vertex-ai{{ else }}oauth-personal{{ end }}",
  "preferredEditor": "neovim",
  "mcpServers": {
    "serena": {
      "command": "uvx",
      "args": [
        "--from",
        "git+https://github.com/oraios/serena",
        "serena",
        "start-mcp-server"
      ]
    },
    "docker": {
      "command": "docker",
      "args": [
        "mcp",
        "gateway",
        "run"
      ]
    },
    "playwright": {
      "command": "npx",
      "args": [
        "@playwright/mcp@latest"
      ]
    }
  }
}
